/**
 * MAGEMONKS
 *
 * LICENSE: This source file is subject to the EULA that is bundled with
 * this package in the file LICENSE.txt. It is also available through the
 * world-wide-web at the following URI: http://www.magemonks.nl/MAGEMONKS-LICENSE-COMMUNITY.txt
 *
 * @category    Magemonks
 * @package     Magemonks_Core
 * @author      Magemonks <info@magemonks.nl>
 * @copyright   2012 Magemonks (http://www.magemonks.nl)
 * @license     http://www.magemonks.nl/MAGEMONKS-LICENSE-COMMUNITY.txt
 * @version     Release: @package_version@
 */

/* Media picker */
.magemonks-mediapicker-input,
.fieldset-wide .form-list td.value input.input-text.magemonks-mediapicker-input{ visibility: hidden; height: 0 !important; width: 0 !important; position: absolute; }
.magemonks-mediapicker-button { display: inline-block; margin: 5px 5px 0 0;}
.magemonks-mediapicker-button-remove{ display: inline-block; margin: 5px 0 0 0; }
img.magemonks-mediapicker-preview{ max-width: 200px; max-height: 200px; display: block; }
img.magemonks-mediapicker-preview-no-image{ display: none; }

/* Grid Selector */
.magemonks-selected-grid-row{ font-weight: bold; }
.magemonks-gridselector-button{ clear: both; display: block; margin-top: 5px; }
.magemonks-grid-selector, .fieldset-wide .form-list td.value input.input-text.magemonks-grid-selector{ width: 150px !important; }
.magemonks-grid-selector-description{ font-style: italic; }

.grid th,
.grid td{ padding: 2px 4px !important;}

/* color picker */
.magemonks-colorpicker{padding-right: 20px; background-image: url('../js/lib/jscolor/color_wheel.png') !important; background-repeat: no-repeat !important; background-position: 100% 50% !important;}
.magemonks-colorpicker-wheel{ display: inline-block; width: 16px; height: 16px; position: relative; text-indent: -999em; }

/* drag and drop */
.magemonks-sortable-dragdrop-notice{ padding: 10px 0; font-weight: bold; color: #EB5E00; }
